body {
	color: #333;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

#main_content {
	margin: 40px;
}

h1 {
 	font-size: 30px;
 	margin-bottom: 40px;
}

.button_container {
	border: 1px solid #ddd;
	margin: 0 10px 10px 0;
	padding: 20px;
	width: 300px;
	height: 300px;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
	text-align: center;
}

.fa-apple:hover {
	background-color: #fcefe7;
}

.fa-apple {
	color: black;
	font-size:130px;
	margin-top: 40px;
	padding-top: 20px;
	border-radius: 15px;
	background-color: #d6d6d6;
	height: 150px;
	width: 170px;
}

#btn_nike {
	color: black;
	font-size: 40px;
	background-color: #007013;
	display: inline-block;
	margin-top: 100px;
	height: 60px;
	width: 170px;
	border-radius: 5px;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	text-decoration: none;
	padding: 10px 0 0 0;
}

#btn_nike:hover {
	background-color: #d4d4d4;
	transform: skew(10deg,-10deg);
	transition: transform 0.3s;
}

#btn_lyft {
	color: white;
	background-color: #ff2bc7;
	text-decoration: none;
	display: inline-block;
	margin-top: 100px;
	height: 60px;
	width: 170px;
	border-radius: 5px;
	font-size: 40px;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	padding: 10px 0 0 0;
}

#btn_lyft:hover {
	background-color: black;
	color: yellow;
	transition: 0.3s;
}

.fa-instagram {
	color: #5300b8;
	font-size: 130px;
	margin-top: 60px;
	padding: 10px 0 0 0;
}

.fa-instagram:hover {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e8e26f+0,d8005a+21,d8005a+38,433287+58,433287+58,433287+82,d8005a+99,d8005a+100,db36a4+100&1+0,0.82+6,1+95 */
	background: -moz-linear-gradient(top,  rgba(232,226,111,1) 0%, rgba(227,161,105,0.82) 6%, rgba(216,0,90,0.85) 21%, rgba(216,0,90,0.88) 38%, rgba(67,50,135,0.92) 58%, rgba(67,50,135,0.97) 82%, rgba(181,12,101,1) 95%, rgba(216,0,90,1) 99%, rgba(219,54,164,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(232,226,111,1) 0%,rgba(227,161,105,0.82) 6%,rgba(216,0,90,0.85) 21%,rgba(216,0,90,0.88) 38%,rgba(67,50,135,0.92) 58%,rgba(67,50,135,0.97) 82%,rgba(181,12,101,1) 95%,rgba(216,0,90,1) 99%,rgba(219,54,164,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(232,226,111,1) 0%,rgba(227,161,105,0.82) 6%,rgba(216,0,90,0.85) 21%,rgba(216,0,90,0.88) 38%,rgba(67,50,135,0.92) 58%,rgba(67,50,135,0.97) 82%,rgba(181,12,101,1) 95%,rgba(216,0,90,1) 99%,rgba(219,54,164,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e26f', endColorstr='#db36a4',GradientType=0 ); /* IE6-9 */
	color: white;
	height: 140px;
	width: 140px;
	padding: 10px 0 0 0;
	border-radius: 10px;
	transform: rotate(360deg);
	transition: transform 2s ease-in-out 0s;
}

#btn_michael {
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	color: black;
	display: inline-block;
	margin-top: 120px;
}

#btn_michael:hover {
	font-style: italic;
	color: red;
}

.btn_cartoon {
	display: inline-block;
	margin-top: 80px;
}

.btn_cartoon:hover {
	background-color: white;
	-webkit-box-shadow: 8px 9px 6px 0px rgba(255, 255, 52, 1);
	-moz-box-shadow:    8px 9px 6px 0px rgba(255, 255, 52, 1);
	box-shadow:         8px 9px 6px 0px rgba(255, 255, 52, 1);

}

#btn_ideo {
	text-decoration: none;
	font-family: tiemposfine-semibold, "times new roman", serif;
	font-weight: 900;
	font-size: 60px;
	color: black;
	display: inline-block;
	background-color: #f2652cc4;
	width: 180px;
	margin-top: 90px;
}

#btn_ideo:hover {
	background-color: #6fcbc9cc;
	transform: translate(15px, 10px);
	-webkit-box-shadow: 21px 26px 3px 0px #f2652cc4;
	-moz-box-shadow:    21px 26px 3px 0px #f2652cc4;
	box-shadow:         21px 26px 3px 0px #f2652cc4;
}

#btn_nbc {
	text-decoration: none;
	font-size: 60px;
	text-transform: uppercase;
	color: black;
	display: inline-block;
	margin-top: 100px;
}

#btn_nbc:hover {
	border: solid 2px;
	transition: border .2s ease-in-out 0s;
}

#btn_newyorker {
	text-decoration: none;
	font-weight: bold;
	font-size: 30px;
	color: black;
	display: inline-block;
	margin-top: 120px;
}

#btn_newyorker:hover {
	color: red;
	transform: skew(15deg) translate(5px, 10px);
	transition: 0.2s;
}

.fa-facebook-square {
	color: #3b5998;
	font-size: 130px;
	margin-top: 60px;
	padding: 10px 0 0 0;
	-webkit-box-shadow: 0px 5px 3px 0px rgba(0, 0, 50, 0.82);
-moz-box-shadow:    0px 5px 3px 0px rgba(0, 0, 50, 0.82);
box-shadow:         0px 5px 3px 0px rgba(0, 0, 50, 0.82);
}

.fa-facebook-square:hover {
	color: red;
	transform: translate(0, 10px);
}

#btn_kittens {
	text-decoration: none;
	font-weight: bold;
	font-size: 25px;
	color: black;
	display: inline-block;
	margin-top: 120px;
}

#btn_kittens:hover {
	transform: rotate(180deg) translate(-30px, 0);
	transition: .3s;
-webkit-box-shadow: 0px -3px 3px 0px rgba(121, 0, 88, 1);
-moz-box-shadow:    0px -3px 3px 0px rgba(121, 0, 88, 1);
box-shadow:         0px -3px 3px 0px rgba(121, 0, 88, 1);
}

#btn_fitbit {
	text-decoration: none;
	font-weight: bold;
	font-size: 25px;
	color: #002939;
	display: inline-block;
	margin-top: 120px;
}

#btn_fitbit:hover {
	transform: scale(3);
	transition: .3s;
}

#btn_moo {
	text-decoration: none;
	font-weight: bold;
	font-size: 45px;
	color: #0f7c5d;
	display: inline-block;
	margin-top: 100px;
}

#btn_moo:hover {
	transform: skew(10deg, -10deg);
	transition: transform .5s ease-in-out 0s;
}

#btn_potter {
	text-decoration: none;
	font-weight: bold;
	font-size: 45px;
	color: rgba(237, 192, 120, 1);
	display: inline-block;
	margin-top: 100px;
	font-family: serif;
}

#btn_potter:hover {
	animation: wiggle 1s ease;
	animation-iteration-count: 1;
	color: #a97d37;
	transition: .6s
}

#btn_samsung {
	text-decoration: none;
	font-weight: 600;
	font-size: 45px;
	color: #1328a0;
	display: inline-block;
	margin-top: 100px;
}

#btn_samsung:hover {
	text-shadow: 0px 0px 30px #ecf10c;
	transition: all 0.2s ease-in-out;
	transform: scale(1.2);
}