.titlebody {
	background-color: black;
	color: white;
	font-family: 'Poppins', sans-serif;
	width: 100%;
	height: 50%;
	margin: 0;
	padding: 0;
}

.infobody {
	background-color: #403c3e;
	color: white;
	font-family: 'Poppins', sans-serif;
	width: 100%;
	height: 50%;
	margin: 0;
	padding: 0;
	background-image: url('../image/111.jpg');
	background-repeat: no-repeat;
	background-size: 49% 500%;
	background-position: right;
}

.impactbody {
	background-color: #403c3e;
	color: white;
	font-family: 'Poppins', sans-serif;
	width: 100%;
	height: 50%;
	margin: 0;
	padding: 0;
}

.navigate a {
	color: white;
	text-decoration: none;
	position: static;
	text-transform: uppercase;
	margin-left: 3%;
	padding-top: 40px;
	display: inline-block;
}

.navigate i {
	margin-left: -10px;
	font-size: 30px;
}

.navigate i:hover {
	color: #e9122b;
}

.navigate a:hover {
	color: #e9122b;
}

.titlepage {
	text-align: center;
}

.titlepage > a {
	color: white;
	text-decoration: none;
	position: static;
	text-align: center;
/*	margin-left: 22%;*/
	margin-right: 10%;
	margin-left: 10%;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 20px;
}

.titlepage > a:hover {
	color: #e9122b;
}

.titlepage > p:first-of-type {
	font-size: 120px;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-10%);
	width: 100%;
	height: 100%;
}

.aboutpage > h1 {
	padding: 0;
	margin: 0;
	font-size: 40px;
	text-transform: uppercase;
	margin-left: 6%;
	font-weight: 900;
	margin-top: 20px;
	display: inline-block;
	margin-bottom: 15%;
}

.aboutpage > p {
	font-size: 18px;
	left: 20%;
	top: 30%;
	width: 30%;
	height: 350px;
	overflow: scroll;
	display: inline-block;
	position: fixed;
	font-family: helvetica;
}

.aboutpage span {
	font-size: 20px;
	font-weight: 700;
	line-height: 65px;
}

.aboutpage > img {
	width: 45%;
	float: right;
	margin-left: 40px;
	height: 45%;
	display: inline-block;
}

.subheading {
/*	font-size: 38px;
	font-weight: 700;
	line-height: 80px;
	float: left;
	display: inline-block;
	width: 65%;
	left: 20%;
	top: 30%;
	margin-top: 25%;
	position: relative;
	overflow: scroll;
	height: 450px;*/
	font-size: 38px;
	line-height: 80px;
	font-weight: 700;
	left: 20%;
	top: 30%;
	width: 30%;
	height: 350px;
	overflow: scroll;
	display: inline-block;
	position: fixed;
}

.subheading a {
	text-decoration: none;
	color: white;
}

.subheading a:hover {
	color: #e9122b;
}

.infobody > h1 {
	padding: 0;
	margin: 0;
	font-size: 40px;
	text-transform: uppercase;
	margin-left: 6%;
	font-weight: 900;
	margin-top: 20px;
	display: inline-block;
	margin-bottom: 15%;
/*	position: fixed;*/
}

.introinfo {
	font-size: 18px;
	display: inline-block;
	position: fixed;
	font-family: helvetica;
	top: /*25%*/;
	width: 30%;
	left: 58.9%;
	margin-top: -20px;
	margin-left: -30px;
	max-height: 350px;
	overflow: scroll;
}

.legacypage img {
	width: 45%;
	float: right;
	margin-left: 40px;
	height: 45%;
	display: inline-block;
}

.legacypage > p {
	font-size: 18px;
	left: 20%;
	top: 30%;
	width: 30%;
	height: 350px;
	font-family: helvetica;
	overflow: scroll;
	display: inline-block;
	position: fixed;
}

.legacypage > h1 {
	padding: 0;
	margin: 0;
	font-size: 40px;
	text-transform: uppercase;
	margin-left: 6%;
	font-weight: 900;
	margin-top: 20px;
	display: inline-block;
	margin-bottom: 15%;
}

.legacypage br {
	display: block;
	content: "";
	margin-top: 30px;
}

.introinfo br {
	display: block;
	content: "";
	margin-top: 30px;
}

.titlepage img {
	z-index: 10;
	width: 45%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.subfashion img {
	width: 45%;
	float: right;
	margin-left: 40px;
	height: 45%;
	display: inline-block;
}

.jerseyimg {
	margin-top: 300px;
}

.slavic {
/*	margin-top: 200px; add later in media*/
}

.suit {
/*	margin-top: 250px;*/
}

.camellia {
	margin-top: 300px;
}

.lbd {
/*	margin-top: 200px;*/
}

.jewelry {
/*	margin-top: 200px;*/
}

.tcb {
/*	margin-top: 200px;*/
}
.suntans {
	margin-top: 300px;
}
.subfashion > p {
	font-size: 18px;
	left: 20%;
	top: 30%;
	width: 30%;
	height: 350px;
	font-family: helvetica;
	overflow: scroll;
	display: inline-block;
	position: fixed;
}

.subfashion > h1 {
	padding: 0;
	margin: 0;
	font-size: 40px;
	text-transform: uppercase;
	margin-left: 6%;
	font-weight: 900;
	margin-top: 20px;
	display: inline-block;
	margin-bottom: 15%;
}

.subfashion br {
	display: block;
	content: "";
	margin-top: 30px;
}

@media ( max-width: 998px ) {
	.titlepage > p:first-of-type {
		font-size: 100px;
	}
}


