body {
	font-family: helvetica-neue, sans-serif;
	margin: 20px;
	background-color: #ededd7;
	color: #515151;
}

header {
	font-family: lithos-pro, sans-serif;
	font-weight: 400;
	border-bottom: solid 5px #515151;
	height: 22px;
	position: fixed;
	background-color: #ededd7;
	width: calc(100% - 40px);
	top: 0px;
/*	border-width: calc(95.25%);*/
	padding-top: 20px;
}

img {
	width: 100%;
	display: inline-block;
	margin-top: 53px;
}

.firstdiv {
	text-align: center;
}

.firstdiv > p:first-of-type {
	font-size: 28px;
	border-bottom: solid 5px #515151;
	display: inline-block;
	margin-top: 45px;
}

.firstdiv > p:nth-of-type(3) {
	font-weight: 300;
	text-align: center;
	margin-right: 140px;
}

.firstdiv > p:nth-of-type(4) {
	font-weight: 300;
	text-align: center;
	margin-right: 200px;
/*	border-bottom: dotted;*/
}

.firstdiv > p:nth-of-type(2) {
	margin-top: 3px;
	font-weight: 300;
	text-align: center;	
	margin-right: 140px;
}

h2 {
	font-size: 30px;
	margin-left: 15px;
	margin-top: 150px;
	font-weight: 400;
}

span {
	display: inline-block;
	margin-top: 20px;
	font-weight: 400;
	font-size: 23px;
	margin-bottom: 4px;
}

.ingredients > p {
	margin-left: 15px;
	margin-right: 200px;
}

.ingredients > li {
	margin-left: 35px;
/*	margin-right: 200px;*/
	text-indent: -20px;
	line-height: 20px;
}


.sauce > p {
	margin-left: 15px;
	margin-right: 180px;
}

.sauce > li {
	margin-left: 15px;
/*	margin-right: 200px;*/
	line-height: 20px;
}

.sauce span {
	margin-top: 18px;
}

.directions {
	margin-left: 15px;
	line-height: 22px;
}

.directions > p:first-of-type {
	margin-bottom: auto;
	margin-top: auto;
}

.directions img {
/*	width: 250px;
	float: right;
	margin-top: 0;
	margin-left: 20px;*/
	width: /*17%;*/ 250px;
	float: right;
	margin-top: 0;
	box-sizing: border-box;
	display: inline-block;
}

.directions > li {
	list-style-type: none;
	margin-top: 240px;
}

.directions > li:nth-of-type(2) {
	margin-top: 240px;
}

.directions > li:nth-of-type(3) {
	margin-top: 210px;
}

.directions > li:nth-of-type(4) {
	margin-top: 190px;
}

.directions > li:nth-of-type(5) {
	margin-top: 320px;
}

.directions > li:nth-of-type(6) {
	margin-top: 305px;
}

.second {
	margin-left: 15px;
	margin-top: 240px;
	line-height: 22px;
}

.second > img {
/*	width: 250px;
	float: right;
	margin-top: 0;
	margin-left: 20px;*/
	width: 17%;
	float: right;
	margin-top: 0;
	box-sizing: border-box;
	display: inline-block;
}

.third {
	margin-left: 15px;
	margin-top: 210px;
	line-height: 22px;
}

.third > img {
/*	width: 250px;
	float: right;
	margin-top: 0;
	margin-left: 20px;*/
	width: 17%;
	float: right;
	margin-top: 0;
	box-sizing: border-box;
	display: inline-block;
}

.fourth {
	margin-left: 15px;
	margin-top: 190px;
	line-height: 22px;
}

.fourth > img {
	width: 250px;
	float: right;
	margin-top: 0;
	margin-left: 20px;
		width: 17%;
	float: right;
	margin-top: 0;
	box-sizing: border-box;
	display: inline-block;
}

.fifth {
	margin-left: 15px;
	margin-top: 320px;
	line-height: 22px;
}

.fifth > img {
/*	width: 250px;
	float: right;
	margin-top: 0;
	margin-left: 20px;*/
	width: 17%;
	float: right;
	margin-top: 0;
	box-sizing: border-box;
	display: inline-block;
}

.sixth {
	margin-left: 15px;
	margin-top: 305px;
	margin-bottom: 300px;
	line-height: 22px;
}

.sixth > img {
/*	width: 250px;
	float: right;
	margin-top: 0;
	margin-left: 20px;*/
	width: 17%;
	float: right;
	margin-top: 0;
	box-sizing: border-box;
	display: inline-block;
}

footer {
	margin-top: 340px;
	font-size: 12px;
	text-align: right;
}